# Configuration File
# @author: Sk Khurshid Alam

[settings]
project_name=WhatsApp Group Contacts Scraper
project_description=It's a web scraping tool which exports all the group participants' contact details into excel file from the Web WhatsApp
version=1.0.8
site_domain=web.whatsapp.com
login_url=https://web.whatsapp.com
login_title=WhatsApp
login_redirect_title=WhatsApp
health_check_url=https://www.google.com
health_check_title=Google
